.catalog_body {
   
}


.catalog__grands {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    
}

.catalog__grand {
    display: flex;
   
    flex: 0 1 48%;
    margin: 1%;
     
}

.grand__image-body {
    padding: 0 1.5rem 0 0;
}

.grand__image {
    width: 10rem;
    height: 10rem;
    border-top-left-radius: 5px;
    
}

.grand__body {
    padding: 5px;
}

.grand__title {
    
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.grand__category {

    display: flex;
    flex-direction: column;
}
.category-grand__body {
    display: flex;
}
.category-grand__link {
    font-size: 1rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: black
}
.category-grand__link:hover {
    font-size: 1.1rem;

    color:brown
}

.category-grand__quant {
}
@media (max-width: 1200px) {

    .catalog__grand {
        
        flex: 0 1 100%;
        
    }
}