@page "/productlist"
@using Kvota.Constants
@inject IServiceScopeFactory serviceScopeFactory


<div class="catalog__body">
    <div class="catalog__grands">
        @if (GrandCategories != null)
        {
            @foreach (var items in GrandCategories.OrderBy(o=>o.Name))
            {
                <div class="catalog__grand grand kvota__body-shadow">
                    <div class="grand__image-body"><img class="grand__image" src="@items.Image"/></div>
                    <div class="grand__body">
                        <div class="grand__title">@items.Name</div>
                        <div class="grand__category category-grand">

                            @if (items.Categories != null)
                            {
                                foreach (var item in items.Categories.OrderBy(o=>o.Name))
                                {
                                    <div class="category-grand__body">
                                        <a class="category-grand__link" href="@GroupNames.GroupCategory/@item.Name/@item.Id">@item.Name</a>
                                        @*<p class="category-grand__quant">
                                            (@if (item.Products != null)
                                            {@item.Products.Count})
                                        </p>*@
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>





