@page "/categ"


<div class="catalog_body">
    
    <div class="manufactures_body">
        @foreach (var item in manuf)
        {
            string it = item + ".jpg";
            <a href="/admin" class="manufactures_items">
                <img class="manufactures_image" src="image/ffffff/@it"/>
                <p class="manufactures_title">@item</p>
            </a>
        }
    </div>
    <div class="grand_body">

        @foreach (GrandCategory items in grandCategories)
        {
            <div class="grand_item">
                <div class="item_image_body"><img class="item_image" src="image/aboutbg2.jpg" /></div>
                <div class="item_body">
                    <div class="item_title">@items.name</div>
                    <div class="item_list">

                        @foreach (var item in categories.Where(w => w.grandCategoryId == items.id))
                        {
                            <div class="list_row">
                                <a class="item_link">@item.name</a>
                                <p class="item_quant">@item.quantityProduct</p>
                            </div>
                        }


                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {

    public class Category
    {
        public int id;
        public string name;
        public int quantityProduct;
        public int grandCategoryId;
    }

    public class GrandCategory
    {
        public int id;
        public string name;

    }

    List<string> manuf = new List<string>() { "name1", "name2", "name3", "name4", "name5", "name6", "name7", "name8", "name9", "name10", "name11", "name12" };
    List<Category> categories = new List<Category>()
    {
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 5},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 4},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 9},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 6},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 9},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 9},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 9},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 4},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 5},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 4},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 6},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 6},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 5},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 4},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 5},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 5},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 6},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 4},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 7},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 5},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 8},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 5},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 4},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 4},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},

        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 4},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 7},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 9},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 6},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},

        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 7},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 7},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 7},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 7},
        new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 6},
        new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 8},
        new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 7},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 9},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 7},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 6},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 5},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 7},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 10},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 4},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 5},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 4},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 4},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 7},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 2},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 6},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 9},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 1},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 9},
        //new Category(){id=1, name = "sdafa",quantityProduct = 350, grandCategoryId = 2},
        //new Category(){id=2, name = "jnfkjlfdhk",quantityProduct = 245, grandCategoryId = 5},
        //new Category(){id=3, name = "szjzdjd",quantityProduct = 24, grandCategoryId = 8},
        //new Category(){id=4, name = "zdjzdjz",quantityProduct = 644, grandCategoryId = 3},

    };
    List<GrandCategory> grandCategories = new List<GrandCategory>()
    {
        new GrandCategory(){id=1, name = "Катоды"},
        new GrandCategory(){id=2, name = "Нагрузки"},
        new GrandCategory(){id=3, name = "Катоды"},
        new GrandCategory(){id=4, name = "Чипы"},
        new GrandCategory(){id=5, name = "Диоды"},
        new GrandCategory(){id=6, name = "Rout"}

    };

}

