.product-card__name {
    
}
.product-card__body {
    display: flex;
   
    
}
.product-card__image {
    flex: 1 1 50%;
    height: 100%;

}

.product-card__brand {
    font-weight: bold
}
.product-card__pnumber {
    color: maroon;
    font-weight: bold
}
.product-card__description {

}
.product-card__options {

}
.product-card__option {

}
@media (max-width: 1220px) {
    .product-card__body {
       flex-direction: column
    }
    .product-card__image {
        flex: 1 1 100%;
        height: 100%;
   
    }
}