@page "/productlists"
@page "/{groups}/{groupname}/{groupid:guid}"
@using Kvota.Components
@using Kvota.Constants
@inject IServiceScopeFactory serviceScopeFactory


@if (_pagedList != null)
{
    <div class="productlist">
        <div class="productlist__items"></div>
        @if (Groups != null)
        {
            if (Groups==GroupNames.GroupBrand)
            {
                <ProductFilterComponent Products="Products" BrandsFilterId="GroupId" Category="@Groups" ProductListCallback="GetFilterList"></ProductFilterComponent>
            }
            if (Groups==GroupNames.GroupCategory)
            {
                <ProductFilterComponent Products="Products" CategoriesFilterId="GroupId" Category="@Groups" ProductListCallback="GetFilterList"></ProductFilterComponent>
            }
           
        }
        else
        {
            <ProductFilterComponent Products="Products" ProductListCallback="GetFilterList"></ProductFilterComponent>
        }
        @if (_pagedList.Count > 0)
        {
            foreach (var product in _pagedList)
            {
                <ProductListComponent Product="product" />
            }
        }
        else
        {
            <div>Список пуст...</div>
        }
        
        @if (_filteredList!.Count() > _quantityInPage)
        {
            <div class="button__block" style="text-align: center">
                <button class="btn btn-danger " @onclick="@(e => LoadMore(_pagedList.Count))" role="button">Загрузить еще</button>
                <button class="btn btn-secondary " onclick="document.getElementById('up_position').scrollIntoView({behavior:'smooth'})">Вверх</button>
            </div>
        }
    </div>
}


