@page "/productlists"
@page "/productlist/{category}/{categoriesid:guid}"
@using Kvota.Models.Products
@using Kvota.Interfaces
@using Kvota.Components
@inject IRepo<Product> ProductRepo
@inject IServiceScopeFactory serviceScopeFactory


@if (_pagedList != null)
{
    <div class="productlist">
        <div class="productlist__items"></div>
        @if (Category != null)
        {
            <ProductFilterComponent Products="Products" CategoriesFilterId="CategoriesId" Category="@Category" ProductListCallback="GetFilterList"></ProductFilterComponent>
        }
        else
        {
            <ProductFilterComponent Products="Products"  ProductListCallback="GetFilterList"></ProductFilterComponent>
        }
        <ProductListComponent ProductList="_pagedList" />
        @if (_filteredList.Count() > 10)
        {
            <div class="button__block" style="text-align: center">
                <button class="btn btn-danger " @onclick="@(e => LoadMore(_pagedList.Count))" role="button">Загрузить еще</button>
                <button class="btn btn-secondary " onclick="document.getElementById('up_position').scrollIntoView({behavior:'smooth'})">Вверх</button>
            </div>
        }
    </div>
}


