@page "/productlists"
@page "/productlist/{category}/{categoriesid:guid}"
@using Kvota.Models.Products
@using Kvota.Interfaces
@using Kvota.Components
@inject IRepo<Product> ProductRepo
@inject IServiceScopeFactory serviceScopeFactory


@if (_pagedList != null)
{
    <div class="productlist">
        <div class="productlist__items"></div>
        @if (Category != null)
        {
            <ProductFilterComponent Products="Products" CategoriesFilterId="CategoriesId" Category="@Category" ProductListCallback="GetList"></ProductFilterComponent>
        }
        else
        {
            <ProductFilterComponent Products="Products"  ProductListCallback="GetList"></ProductFilterComponent>
        }
        <ProductListComponent ProductList="_pagedList" />


    </div>
}


