.product {
    display: flex;
    width: 100%;
   
    /* justify-content: space-between;*/
    align-items: center;
    background: #fff;
    box-shadow: 0 20px 40px -15px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 1rem;
    min-height: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product__body {
    padding: 1rem 0;
    display: flex;
    flex: 1 1 auto;
}

.product__text {
    margin-right: 1rem;
    width: 300px;
}

.product__image {
    padding: 0.5rem;
    width: 100px;
    height: 75px;
}

.product__name {
    text-decoration: none;
    cursor: pointer;
    
    
}

.product__pnumber {
    
}
.product__brand {
    width: auto;
}
.product__prices {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.product__price {
   
    color: #000000;
    margin: 0 1rem 0 0
}

.product__sale {
    margin: 0 1rem 0 0;
    
    color: darkred
}

.product__sale:after {
    margin: 0.5rem 0 0 0.5rem;
    content: "";
    width: 4rem;
    border-bottom: 2px black solid;
    transform: rotate(7deg);
    position: absolute;
}

.product__feetback {
    
}
@media (max-width: 1220px) {
    .product__body {
         flex-direction: column;
    }

    .product__text {
        margin-right: 0;
        width: 100%;
    }

    
}
@media (max-width: 500px) {
    .product {

        align-items: flex-start;
        margin: 1%;
        min-width: 300px;
        flex-direction: column;
    }

    .product__body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product__prices {
        flex-direction: column;
        margin: 0 0 1rem 0;
    }
    .product__text {
        margin-right: 0;
        width: 100%;
        min-width: 0;
    }
}