@using Kvota.Components.Admin.Products
@using Kvota.Constants
@using Kvota.Models.Content
@using System.Text.Json
<div class="top__con">
    
    <div class="top__search">

        <SearchProduct/>

    </div>
      
     @if (Contact != null)
     {
         <div class="top-row px-3">
             <div class="top__contacts ">
                 <div>
                     <a href="tel:@Contact.PhoneOne" target="_blank">
                         <i class="bi bi-telephone" style="font-size: 1.5rem; margin-right: 1rem"></i>@Contact.PhoneOne
                     </a>
                 </div>
                 <div>
                     <a href="mailto:@Contact.EmailOne">
                         <i class="bi bi-envelope-at" style="font-size: 1.5rem; margin-right: 1rem"></i>@Contact.EmailOne
                     </a>
                 </div>
             </div>

            @* <span class=" text-wrap" style="font-weight: bold; margin-left: 1rem;">@Contact.AddressOne</span>*@
         </div>
     }
</div>


@code {
    private ContactsModel Contact { get; set; } = default!;
        
    protected override async Task OnInitializedAsync()
    {
        await using var openStream = File.OpenRead($"{Links.RootPath}/{Links.ContactsJson}");
        Contact = (await JsonSerializer.DeserializeAsync<ContactsModel>(openStream))!;
    }
}

<style>
   


</style>