@using Microsoft.AspNetCore.Identity;
@using Kvota.Areas.Identity.Data
@using Kvota.Components.Admin
@using Kvota.Interfaces
@using Kvota.Models.Content
@using Kvota.Repositories
@page "/admin"
@inject SignInManager<KvotaUser> SignInManager
@inject UserManager<KvotaUser> UserManager



<AuthorizeView>
    <Authorized>
        @if (@context.User.IsInRole("Administrators"))
        {
            <NavAdmin></NavAdmin>
        }
        else
        {
            <p>Вы не имеете прав администратора</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Вы не вошли как пользователь</p>
        <NavLink href="/login">Войти</NavLink>
    </NotAuthorized>
</AuthorizeView>
@code {
    
}
<style>
    .admin_body {
        padding: 1rem;
    }
</style>