@inherits LayoutComponentBase
@using Kvota.Components
@using Kvota.Interfaces
@using Kvota.Models.Content
@inject IWebHostEnvironment Env
@inject ISerializeService<ContactsModel> ContactSerialize
@using Kvota.Components.CategoryDrawer

<PageTitle>Cinty</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
   @* <div style="z-index: 999">  <CategoryDrawerComponent @ref="_categoryDrawerRef" /></div>*@
  
    <div class="sidebar">
        <NavMenu _categoryDrawerRef="_categoryDrawerRef"/>
    </div>

    <main >

        <div id="up_position"></div>
        @if (Contact != null)
        {
            @if (UriCurrent.ToString() != UriHome)
            {
                <div class="top__container">
                    <SerchCotactLineComponent/>
                </div>
            }
        }
        <ErrorBoundary>
            <article >
                @Body
            </article>
        </ErrorBoundary>
    </main>
</div>

@code
{

    private CategoryDrawerComponent? _categoryDrawerRef;
}