@inherits LayoutComponentBase

<PageTitle>VpShop.UI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" >
            
            <div>
                <a href="tel:+79998887766" target="_blank">
                    <i class="bi bi-telephone" style="font-size: 1.5rem; margin-right: 1rem"></i>8-911-111-11-11
                </a>
            </div>
            <div>
                <a href="mailto:dosaevk@yandex.ru">
                    <i class="bi bi-envelope-at" style="font-size: 1.5rem; margin-right: 1rem"></i>shop@mail.ru</a>
            </div>
            <span class=" text-wrap" style="font-weight: bold; margin-left:1rem;">Адрес: г.Город ул.Улица д.1fffffffffffffffffffff</span>

        </div>

        <article>
            @Body
        </article>
    </main>
</div>

