@inherits LayoutComponentBase
@using Kvota.Components
@inject IWebHostEnvironment Env
<PageTitle>Квота</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main >
        <div id="up_position"></div>
        @if (Contact != null)
        {
            @if (UriCurrent.ToString() != UriHome)
            {
                <div class="top__container">
                    <SerchCotactLineComponent/>
                </div>
            }
        }
        <ErrorBoundary>
            <article >
                @Body
            </article>
        </ErrorBoundary>
    </main>
</div>

@code
{
   
}