@inherits LayoutComponentBase
@using Kvota.Components
@using Kvota.Interfaces
@using Kvota.Models.Content
@inject IWebHostEnvironment Env
@inject ISerializeService<ContactsModel> ContactSerialize

<PageTitle>Квота</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main >
      
        <div id="up_position"></div>
        @if (Contact != null)
        {
            @if (UriCurrent.ToString() != UriHome)
            {
                <div class="top__container">
                    <SerchCotactLineComponent/>
                </div>
            }
        }
        <ErrorBoundary>
            <article >
                @Body
            </article>
        </ErrorBoundary>
    </main>
</div>

@code
{
   
}