@using System.IO
@inject IWebHostEnvironment env


<h3>Загрузить изображение</h3>

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <br /><br />
    <button class="btn btn-secondary" type="submit">Загрузить</button>
</form>
@code {

}
