@page "/fileupload"
@using System.IO
@inject IWebHostEnvironment env


<h1>Загрузить изображение</h1>

<h3>@Message</h3>

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <br /><br />
    <button type="submit">Загрузить</button>
</form>
@code {

}
