<div class="nav_body">
    <div class="nav_item"><NavLink Match="NavLinkMatch.All" href="/hometool" class="link"><span>Главная страница</span></NavLink> </div>
    <div class="nav_item"><NavLink href="contacttool" class="link">Контакты</NavLink> </div>

</div>
<style>
    .nav_body {
        display: flex;
        padding: 1rem;
    }
    .nav_item {
      
    }

    .link {
        color: deepskyblue;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 20px;

    }

    .link.active {
            height: 200px;
        color: white;
        font-weight: 700;
        background-color: deepskyblue; 
        
    }
</style>
@code {

}
