<div class="prductlist__pager">
    <Pagination ActivePageNumber = "@_currentPageNumber"
                TotalPages="_totalPg"
                FirstLinkIcon="IconName.ChevronDoubleLeft"
                PreviousLinkIcon="IconName.ChevronLeft"
                NextLinkIcon="IconName.ChevronRight"
                LastLinkIcon="IconName.ChevronDoubleRight"
                PageChanged="OnPageChanged" />
           
    @*<select class="form-control prductlist__quantitypg"
    @bind="_quantityInPage">
        <option selected value=10>по 10</option>
        <option value = 20 > по 20</option>
        <option value = 30 > по 30</option>
   

        </select>*@
</div>

@code {

}
