@page "/about"
@using Kvota.Models.Content
@using Kvota.Constants
@using Kvota.Interfaces
@inject ISerializeService<Home> HomeSerialize


@if ( Content!= null){
<div class="about_body">
    <h1 class="about_title">Компания Квота</h1>
    <div class="about_row">
        <div class="about_image1"></div>
        <div class="about_text">
            @foreach (var item in AboutArr)
            {
                if (!item.Contains('~'))
                {
                    <div>@item</div>
                }
                else
                {
                    <br/>
                }
            }
        </div>
            <div class="about_image2"></div>
    </div>
    
</div>
}

@code
{
    private Home? Content { get; set; }
    private string[] AboutArr { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        Content = await HomeSerialize.DeSerialize($"{Links.RootPath}/{Links.HomeContentJson}");
        AboutArr = Content.AboutText!.Split('^');
    }
}
