@page "/about"
@using Kvota.Models.Content
@using Kvota.Constants
@using System.Text.Json


@if ( Content!= null){
<div class="about_body">
    <h1 class="about_title">Компания Квота</h1>
    <div class="about_row">
        <div class="about_image1"></div>
        <div class="about_text">
            @foreach (var item in AboutArr)
            {
                if (!item.Contains('~'))
                {
                    <div>@item</div>
                }
                else
                {
                    <br/>
                }
            }
        </div>
            <div class="about_image2"></div>
    </div>
    
</div>
}





@code
{
    private Home? Content { get; set; }
    private string[] AboutArr { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        await using var openStream = File.OpenRead(Links.HomeContentJson);
        Content = (await JsonSerializer.DeserializeAsync<Home>(openStream))!;

        AboutArr = Content.AboutHomeText!.Split('^');
    }
}

<style>
    .about_body {
        
        
    }
    .about_title {
        padding: 1rem 1rem 0 5rem;
        color: brown;
        font-weight: bolder;
        margin: 0;
    }
    .about_row { 
        display: flex;

                       }
    .about_image1 {
        background: url(/image/background/aboutbg1.jpg)80%/cover no-repeat;
        flex: 0 1 20%;
        margin-right: 1.5rem;
        filter: brightness(70%)
    }
    .about_text {
        background-color: black;
        color: white;
        min-height: 90VH;
        flex: 0 1 60%;
        margin-bottom: 0px;
        padding: 9rem 5rem;
        font-size: 1.5rem;

    }
    .about_image2 {
        background: url(/image/background/aboutbg2.jpg)50%/cover no-repeat;
        flex: 0 1 20%;
        margin-left: 1.5rem;
        filter: brightness(70%)
    }
</style>