@page "/about"

<PageTitle>О компании</PageTitle>




<h1>О компании</h1>

<p> Текст ТекстТекстТекстТекстТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
    Текст Текст ТекстТекстТекстТекст Текст ТекстТекстТекстТекст Текст ТекстТекстТекст
</p>



