@page "/"
@inject IJSRuntime JSRuntime
@inject IRepo<Home> HomeRepo

@using Microsoft.AspNetCore.Mvc
@using MailKit.Security
@using Microsoft.AspNetCore.Components
@using Kvota.Data
@using Kvota.Interfaces
@using Kvota.Models.Content
@using Kvota.Components

<PageTitle>Квота</PageTitle>
@if (Content != null)
{
    <div class="home_body">
        <div class="row home_images ">
            <div class="col home_image kvota__body-shadow">

                <h1 class="home_image_text1">@Content.HomeImageTextOne</h1>
                <h2 class="home_image_text2">@Content.HomeImageTextTwo</h2>
            </div>

        </div>

        <div class="partner kvota__body-shadow">
            <h2 class="home_image_text1">@Content.PartnerTitle</h2>
            <div class="row partner__lables">
                <span class="partner__lable" style="background-image: url(/image/manufactures/1.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/2.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/3.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/4.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/5.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/6.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/7.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/8.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/9.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/10.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/11.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/12.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/13.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/14.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/15.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/16.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/17.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/18.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/19.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/20.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/21.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/22.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/23.jpg);"></span>
                <span class="partner__lable" style="background-image: url(/image/manufactures/24.jpg);"></span>
            </div>



        </div>

        <div class="company">
            <div class="text_col company__text kvota__body-shadow" style="background-image: url(/wwwroot/image/feedback.jpg)">
                <h2> О компании</h2> <br/>
                <p>@Content.AboutHomeText</p>
            </div>
            <div class="home__form kvota__body-shadow">
                <FeedbackForm/>

            </div>
        </div>
    </div>

}










@code {

    [Inject]
    protected IRepo<Home> HomeServ { get; set; } = default!;

    private Home Content { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Content = await HomeServ.GetOneAsync(new Guid("7c7ed7ca-fda1-4449-8637-c403c61957eb"));
    }
    

}


